@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 4px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #027435;
    border-radius: 50%;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #36dc81;
  }
}